.portfolio-container {
  margin-top: 100px;
}
.main-header {
  text-align: center;
  color: #a503fc;
  font-weight: lighter;
}
.port-header {
  text-align: center;
  color: white;
  //margin-left: 200px;
}
.image-styles {
 width: 100%;
 max-width: 100%;
}
.kang-img {
  width: 100%;
  max-width: 100%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: 12fr 2fr 12fr;
  //grid-auto-rows: 1fr;
  grid-gap: 5px;
  padding: 16px;
  /*grid-template-areas: 
  ". . h h h h h h h h h ."
  "c c c c c c c c c c c m"   // Useful for experimenting with layout to determine what layout structure you need 
  ". f f f f f f f f f f m";*/

  /* mobile devices */
  .img-port-grid {
    //grid-area: h;
    //background-color: red;
    grid-column: 1 / -1;

  }
  .port-grid-content{
    background-color: #36454F;
    grid-column: 1/-1;
  }
  .menu {
    background-color: pink;
    grid-column: 1/ -1;
    //align-self: start;
    //grid-row: 2 / 3;
    //grid-area: m;
  }
  .content {
    background-color: pink;
    grid-column: 1/-1;
    //grid-row:
    //grid-area: c;
  }
  .my-footer {
   // background-color: pink;
    grid-column: 1 / -1;
    //grid-area: f;
  }

 
   .test-text {
      //text-align: center;
      //margin-left: 50px;
      color: white;
      //text-align: center;
      //margin: 20px;
      padding: 16px;
    }
 


  /* computers and large devices */
  @media (min-width: 768px) {
    

     .test-text {
      //text-align: center;
      margin-left: 50px;
      color: white;
      //margin: 20px;
    }

    .image-styles {
      //width: 100%;
      //max-height: fit-content;
      width: 100%;
      max-width: 100%;
      //float: left;
      //clear: left;
      //margin-left: 50px;
    }

    .kang-img {
      width: 100%;
      max-width: 400px;
    }

    .img-port-grid {
      //grid-area: h;
      //background-color: pink;
      grid-column: 1 / 2;
      //display: inline-block;
      //align-self: start;
      //grid-row: 1 / 3;
      //max-width: 100%;

    }

    .port-grid-content {
      grid-column: 2 / -1;
    }

    .my-footer {
      //background-color: pink;
      grid-column: 1 / -1;
      //grid-row: 4 / 6
      //grid-area: f;
    }
  }
}